.bio-text {
  text-align: justify;
}

.article-style {
  text-align: justify;
}

.card-text {
  text-align: justify;
}

/* Social Media */
.fa-linkedin {
  color: rgba(0, 119, 181, 1);
}

.fa-facebook {
  color: rgba(66, 103, 178, 1);
}

.fa-mastodon {
  color: rgba(86, 58, 204, 1);
}

.fa-linkedin-in {
  color: rgba(0, 119, 181, 1);
}

.fa-github {
  mix-blend-mode: hard-light;
}

.fa-envelope {
  mix-blend-mode: hard-light;
}

.fa-mobile {
  color: rgba(0, 0, 0, 1);
}

.fa-skype {
  color: rgba(0, 175, 240, 1);
}

.ai-orcid {
  color: rgba(166, 206, 57, 1);
}

.fa-instagram {
  color: rgba(233, 89, 80, 1)
}

.fa-whatsapp {
  color: rgba(37, 211, 102, 1)
}

.ai-researchgate {
  color: rgba(0, 233, 197, 1);
}

.dark .card .section-subheading a {
  color: rgba(187, 222, 251, 1);
  border-bottom: solid 1px transparent;
}

body:not(.dark) .mongo_dark {
  display: none;
}

.dark .mongo_light {
  display: none;
}

body:not(.dark) .neo4j_dark {
  display: none;
}

.dark .neo4j_light {
  display: none;
}

.course_notes {
  font-size: small;
}
